@use "sass:string"
*
  // outline: solid 1px red !important
  // transition: none !important
  
$bhue: 180
$body-color: hsl($bhue, 0, 95%)  
$stripe-color: hsl($bhue, 10, 90%)  
$stripe-color-code: str-slice(quote($stripe-color),2)
$background-color: hsl($bhue, 0, 99%)  
$text-color: hsl($bhue+180, 0, 5%)
$link-color: hsl($bhue+180, 100, 25%)
$header-link-color: hsl($bhue+180, 100, 70%)
$title-color: hsl($bhue+180, 0, 30%)
$hover-color: hsl($bhue+180, 100, 50%)
$page-width: 16cm
$corner-size: 40px
$corner-clip: polygon(0% 0%, 100% 0%, 100% calc( 100% - #{$corner-size} ), calc( 100% - #{$corner-size} ) 100%, 0% 100%)

$dark-body-color: hsl($bhue, 0, 15%)  
$dark-stripe-color: hsl($bhue, 10, 20%)  
$dark-stripe-color-code: str-slice(quote($dark-stripe-color),2)
$dark-background-color: hsl($bhue, 0, 1%)  
$dark-text-color: hsl($bhue+180, 0, 90%)
$dark-link-color: hsl($bhue+180, 90, 65%)
$dark-title-color: hsl($bhue+180, 0, 65%)
$dark-hover-color: hsl($bhue, 80, 50%)

$body-stripes: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 16 16'%3E%3Cg %3E%3Cpolygon fill='%23#{$stripe-color-code}' points='0 8 8 0 16 0 0 16'/%3E%3Cpolygon fill='%23#{$stripe-color-code}' points='16 8 16 16 8 16'/%3E%3C/g%3E%3C/svg%3E")
$dark-body-stripes: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 16 16'%3E%3Cg %3E%3Cpolygon fill='%23#{$dark-stripe-color-code}' points='0 8 8 0 16 0 0 16'/%3E%3Cpolygon fill='%23#{$dark-stripe-color-code}' points='16 8 16 16 8 16'/%3E%3C/g%3E%3C/svg%3E")

body
  padding: 1cm 1cm 0 1cm
  margin: 0
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Helvetica Neue',Arial,sans-serif
  background: $body-color
  background-image: $body-stripes
  background-attachment: fixed
  color: $text-color
  @media (prefers-color-scheme: dark)
    background: $dark-body-color
    color: $dark-text-color
    background-image: $dark-body-stripes

.container
  clip-path: $corner-clip
  max-width: $page-width
  margin: auto
  background: $background-color
  @media (prefers-color-scheme: dark)
    background: $dark-background-color

p, ul, summary, pre
  font-size: 13pt
  line-height: 1.3

hr
  height: 0
  border-bottom: 0

main
  padding: 20px

main, footer
  max-width: $page-width
  margin: auto
  
footer
  background: $body-color
  @media (prefers-color-scheme: dark)
    background: $dark-body-color
  margin-top: 5em
  p, ul, summary
    font-size: 10pt
  ul
    margin: 0

.footercontent
  padding: 20px
img
  max-width: 100%

a
  color: $link-color
  @media (prefers-color-scheme: dark)
    color: $dark-link-color

// a[href^="//"]:after,    
// a[href^="irc://"]:after, 
// a[href^="http://"]:after, 
// a[href^="https://"]:after,
//   display: inline-block
//   text-decoration: none
//   position: relative
//   content: "﻿→"
//   margin-left: -0em
//   font-size: 50%
//   top: -1em

a:hover
  color: $hover-color
  @media (prefers-color-scheme: dark)
    color: $dark-hover-color

h1, h2, h3, h4, h5, h6
  color: $title-color
  margin: 10px 0 0 0
  @media (prefers-color-scheme: dark)
    color: $dark-title-color
  a
    text-decoration: none
  
.date
  font-size: 10pt

h1
  font-size: 30pt
  font-weight: 800
  // background-color: $title-color
  // color: $background-color
  // clip-path: polygon(0% 0%, calc(100% - 60px) 0%, 100% 60px, 100% 100%, 0 100%)

h2
  font-size: 23pt

h3
  font-size: 20pt

h4
  font-size: 18pt

h5, h6
  font-weight: normal

h5
  font-size: 18pt

h6
  font-size: 17pt

header
  clip-path: $corner-clip
  max-width: calc(#{$page-width} - 40px)
  margin: auto
  padding: 20px 20px 15px 20px
  background-color: $title-color
  nav
    margin-top: 5px
    font-size: 18pt
    font-weight: 200
    color: $background-color
    a
      color: $header-link-color
  svg
    width: 100%
    text
      fill: $background-color
      font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,'Helvetica Neue',Arial,sans-serif
      font-weight: 800
      font-size: 5px
  ul
    margin-top: 0
    margin-bottom: 0
    list-style: none
    padding-left: 1.5em

blockquote
  font-style: italic

// header
//   padding: 5px
//   color: $background-color
//   background-color: $text-color
//   h1
//     font-size: 25.5vw;
//   h1, p, nav
//     padding: 0
//     margin: 0
//     color: $background-color

// #article
//   ul
//     margin-top: -1em

// .links
//   color: $title-color
//   @media (prefers-color-scheme: dark)
//     color: $dark-title-color
//   margin: 0px

a.hlink
  padding: 0 3px
  text-decoration: none

a.hlink:hover
  color: $background-color
  background-color: $dark-link-color
  // @media (prefers-color-scheme: dark)
  //   background-color: $link-color

  
.math
  font-size: larger
  font-family: serif
  font-style: italic
  padding: 0 1px
  
.rss
  font-size: x-small
  margin-left: 20px

.publishing-info
  p
    font-size: smaller !important

.hidden
  display: none

@keyframes distort-subtle
  25%
    text-shadow: none
  26%
    text-shadow: 2px -1px #ff0000, -2px 3px #00ffff
  27%
    text-shadow: -2px -3px #ff0000, 2px 1px #00ffff
  28%
    text-shadow: 2px 1px #ff0000, -4px 1px #00ffff
  29%
    text-shadow: -4px 1px #ff0000, -2px -1px #00ffff
  30%
    text-shadow: none
  75%
    text-shadow: none
  76%
    text-shadow: -4px 1px #ff0000, -2px -1px #00ffff
  77%
    text-shadow: -2px -3px #ff0000, 2px 1px #00ffff
  78%
    text-shadow: 2px -1px #ff0000, -2px 3px #00ffff
  79%
    text-shadow: 2px 1px #ff0000, -4px 1px #00ffff
  80%
    text-shadow: none

.horus
  animation: distort-subtle 5s infinite

summary
	outline: none
	-webkit-user-select: none
	-moz-user-select: none
	-khtml-user-select: none
	-ms-user-select: none
	cursor: pointer

  
@media (max-width: 18cm)
  header nav
    font-size: 12pt
  img
    max-width: 100%
    width: 100%
      
  main
    padding: 20px 0
    margin: auto
    width: 90%
    max-width: unset
  
  body
    margin: 0
    padding: 0
