include /utils
doctype html
if (created)
  - var datesEqual = new Date(updated).getTime() == new Date(created).getTime();
html(lang="en")
  head
    title Gaeel Bradshaw's CV
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/cv-style.css')
    meta(name="description" content="Gaeel's CV")
    if (created)
      // OpenGraph & Twitter tags
      meta(property="og:site_name" content="Spaceships in Space")
      meta(property="og:title" content=title)
      meta(property="og:url" content="https://spaceshipsin.space"+url)
      meta(property="og:description" content=preview)
      meta(property="og:image" content="https://spaceshipsin.space"+imageURL)
      meta(property="og:type" content="article")
      meta(property="article:published_time" content=created)
      unless datesEqual
        meta(property="article:modified_time" content=updated)
      if tags
        each tag in tags
          meta(property="article:tag" content=tag)
      meta(property="twitter:card" content="summary")
      meta(property="twitter:site" content="@_gaeel_")
      meta(property="twitter:creator" content="@_gaeel_")
  body
    #curriculum-vitae
      p.print-button
        a(href="/") home
        |  
        a(href="?" onclick="window.print();return false;") print this document
        include:marked [[markdown]]