include /utils
doctype html
if (created)
  - var datesEqual = new Date(updated).getTime() == new Date(created).getTime();
html(lang="en")
  head
    title #{title} - Spaceships in Space
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/style.css')
    meta(name="description" content="Gaeel's spaceship in space")
    if (created)
      // OpenGraph & Twitter tags
      meta(property="og:site_name" content="Spaceships in Space")
      meta(property="og:title" content=title)
      meta(property="og:url" content="https://spaceshipsin.space"+url)
      meta(property="og:description" content=preview)
      meta(property="og:image" content="https://spaceshipsin.space"+imageURL)
      meta(property="og:type" content="article")
      meta(property="article:published_time" content=created)
      unless datesEqual
        meta(property="article:modified_time" content=updated)
      if tags
        each tag in tags
          meta(property="article:tag" content=tag)
      meta(property="twitter:card" content="summary")
      meta(property="twitter:site" content="@_gaeel_")
      meta(property="twitter:creator" content="@_gaeel_")
    
  body  
    // Header
    .container
      header
        //- h1 Spaceships in Space
        svg(alt="Spaceships in Space logo" viewBox="0 0 50 8" preserveAspectRatio="none")
          text(x="0" textLength="50px" y="3.75" lengthAdjust="spacingAndGlyphs") SPACESHIPS
          text(x="0" textLength="50px" y="7.75" lengthAdjust="spacingAndGlyphs") IN SPACE
        nav
          span
            a.hlink(href="/") home
            |·
            a.hlink(href="/posts") posts
            |·
            a.hlink(href="/portfolio") portfolio
            |·
            a.hlink(href="/cv") cv
            |·
            a.hlink(href="/#contact") contact
            //- p.links
            //-   span hyperdrive
            //-     ul
            //-       li
            //-         a.hlink(href="https://pier.spaceshipsin.space/") git repository
            //-       li
            //-         a.hlink(href="https://pier.spaceshipsin.space/gaeel/spaceshipsin-space") sources for this website
            //-       li
            //-         a.hlink(href="https://lost.spaceshipsin.space") lost spaceships in space

      // Main article
      main
        if created
          article#article.h-entry
            .indieweb.hidden(aria-hidden="true")
              .p-name= title
            .indieweb.e-content
              include:markdown-it(html=true plugins=['markdown-it-collapsible','markdown-it-anchor']) [[markdown]]
            .indieweb.hidden(aria-hidden="true")
              p.p-summary= preview
              a.u-url(href="https://spaceshipsin.space"+url)
                time.dt-published= update
              a.p-author.h-card(rel="author" href="https://spaceshipsin.space") Gaeel
                img(src="/favicon.png" alt="Gaeel's avatar")
        else
          #article
            include:markdown-it(html=true plugins=['markdown-it-collapsible','markdown-it-anchor']) [[markdown]]
        if created
          br
          br
          if datesEqual
            .date Posted #{formatDate(new Date(updated))}
          else
            .date Updated #{formatDate(new Date(updated))}
    footer
      div.footercontent
        // Tags
        if tags
          p Related tags
            ul
              - tags.unshift('all')
              each tag in tags
                li
                  span
                    a(href="/posts/"+tag.replace(" ","-"))= tag
                    a.rss(href="/tag/"+tag.replace(" ","-")+"/rss.xml") (rss.xml)
        // Build text
        include:marked /../markdown/footer.md
        // Metadata
        //- if created
        //-   .publishing-info
        //-     p
        //-       | Created: #{formatDate(new Date(created))} - #{formatTime(new Date(created))}
        //-       br
        //-       unless datesEqual
        //-         | Updated: #{formatDate(new Date(updated))} - #{formatTime(new Date(updated))}
        //-         br
        //-       | Last built: #{formatDate(new Date())} - #{formatTime(new Date())}
    script(src="/reload/reload.js")