include [[dots]]/sources/pug/utils
doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/style.css')
    
  body
    #thepage
      
      // Header
      h1 🚀 Spaceships in Space
      .linkheader
        p.links
          span navigation(
            a.hlink(href="/") home 
            a.hlink(href="/tags.html") tags 
            a.hlink(href="/#contact") contact
            | )
        p.links
          span links(
            a.hlink(href="https://cv.spaceshipsin.space") gaeel's cv  
            a.hlink(href="https://lost.spaceshipsin.space") lost spaceships in space  
            a.hlink(href="https://drydock.spaceshipsin.space/gaeel/spaceshipsin-space") website sources
            | )
      hr

      // Main article
      include:marked [[markdown]]

      // Generated links
      br
      hr
      br
      h4 Related tags
      if tags
        ul
          each tag in tags
            li
              a(href="/tag/"+tag.replace(" ","-")+".html")= tag
    #footer
      p Last built: #{formatDate(new Date())} - #{formatTime(new Date())}
      include:marked [[dots]]/sources/markdown/footer.md